* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;

  justify-content: center; /* center items horizontally, in this case */
  align-items: center; /* center items vertically, in this case */
  position: relative;
}
.header__img-circulo {
  background-color: yellow;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: absolute;
  top: -150px;
  left: -150px;
  z-index: -10;
}
.header {
  background: transparent;
  display: flex;
  width: 80%;

  justify-content: center; /* center items horizontally, in this case */
  align-items: center; /* center items vertically, in this case */
  height: 100vh;
}
.header__img,
.header__text {
  width: 50%;
}
.header__img {
  clip-path: circle(76% at 0% 48%);
  /*animation*/
  animation-name: cambiarClipPath;
  animation-duration: 3s;
}

@keyframes cambiarClipPath {
  0% {
    clip-path: circle(76% at 0% -3%);
  }
  100% {
    clip-path: circle(76% at 0% 48%);
  }
}

.header__text {
  text-align: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;

  justify-content: center; /* center items horizontally, in this case */
  align-items: center; /* center items vertically, in this case */
}

.header__button {
  border-radius: 0% 0% 100% 0%;
  background-color: skyblue;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 1em 1em;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: 1em;
}

.header__button:hover,
.header__button:focus {
  border-radius: 0% 0% 0% 0%;
}

.header__button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.header__button span:after {
  content: '〜';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.header__button:hover span {
  padding-right: 25px;
}

.header__button:hover span:after {
  opacity: 1;
  right: 0;
}
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
/* Unvisited links */
a:link {
  color: #ffffff;
}
/* Visited links */
a:visited {
  color: #ffffff;
}
/* Hover state */
a:hover {
  font-weight: bold;
}
/* Focused state */
a:focus {
  font-weight: bold;
}
/* Activated state */
a:active {
  font-weight: bold;
}
.header__text {
  display: flex;
  flex-direction: column;
}

.img__waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -10;
}
/*MEDIA QUERIES*/

@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header__text {
    padding-top: 1em;
  }
  .header__img,
  .header__text {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; /* center items vertically, in this case */
    justify-content: center; /* center items horizontally, in this case */
  }
}
